<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>
<p>
  <strong>url:</strong>
  <%= link_to "pepe url",@brand.url %>
</p>
<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
