<%= form_for @product do |f|%>  
	<% if @product.errors.any?%>
		<h3>these errors prohibited form being saved:</h3>
			<ul>
				<%@product.errors.full_messages.each do |msg|%>
					<li><%= msg %></li>
				<%end%>
			</ul>
	<%end%>
	<label for ="product_category_id"> Category:</label><br/>
	<%= f.collection_select :category_id,Category.all,:id,:name,prompt:"Select Category"%><br/>
	<label for ="product_name">Name:</label></br>
	<%= f.text_field :name,placeholder: "enter name"%> <span id="nameMsg"></span><br/>
	<label for="product_description">Description</label></br>
	<%= f.text_area :description%></br>
	<label for="product_price">price:</label></br>
	<%= f.number_field :price,min:1%></br>
	<label for="product_stock">stock:</label></br>
	<%= f.number_field :stock,min:0%></br>
	<%= f.check_box :cod_eligible %> <label for="product_cod_eligible">cod eligible</label>
	<label for="product_image_url">image url</label><br/>
	<%= f.text_field :feature_image_url%><br/>
	<%= f.submit%>
<%end%>
<script>
	var nameHandle = document.getElementById('product_name')
	 var nameMsgHandle = document.getElementById('nameMsg')
	nameHandle.addEventListener('focus',function(){
		nameMsgHandle.innerHTML = "enter the product name"
	},false);
	nameHandle.addEventListener('blur',function(){
		if(nameHandle.value == ""){
			nameMsgHandle.innerHTML = "cant be blank"
		}else{
			nameMsgHandle.innerHTML = ""
		}
	},false);
</script>