<div class="container new-product">
	<%= form_for @product do |f|%>  
		<% if @product.errors.any?%>
			<h3>these errors prohibited form being saved:</h3>
				<ul>
					<%@product.errors.full_messages.each do |msg|%>
						<li><%= msg %></li>
					<%end%>
				</ul>
		<%end%>
		<div class="form-group">
			<label for ="product_category_id"> Category:</label><br/>
			<%= f.collection_select :category_id,Category.all,:id,:name,prompt:"Select Category"%><span id="categoryErrorMsg"></span><br/>
		</div>
		<div class="form-group">
			<label for ="product_name">Name:</label><span id="nameErrorMsg"></span></br>
			<%= f.text_field :name,class:"form-control d-inline product-sizing"%><br/>
		</div>
		<div class="form-group">
			<label for="product_description">Description</label><span id="descriptionErrorMsg"></span></br>
			<%= f.text_area :description,class:"form-control d-inline product-sizing"%></br>
		</div>
		<div class="form-group">
			<label for="product_price">price:</label><span id="productPriceErrorMsg"></span></br>
			<%= f.number_field :price,min:1,class:"form-control d-inline  product-sizing"%></br>
		</div>
		<div class="form-group">
			<label for="product_stock">stock:</label><span id="productStockErrorMsg"></span></br>
			<%= f.number_field :stock,min:0,class:"form-control d-inline  product-sizing"%></br>	
		</div>
		<div class="form-group">
			<%= f.check_box :cod_eligible,class:"form-control product-sizing"%><span id="productCodErrorEligible"></span><label for="product_cod_eligible">cod eligible</label>
		</div>
		<div class="form-group">
			<label for="product_image_url">image url</label><br/>	
			<%= f.text_field :feature_image_url,class:"form-control d-inline product-sizing"%><span id="productErrorImage"></span><br/>
		</div>
		<div class="form-group">
			<%= f.submit class:"btn btn-success",id: :"submit_handle"%>
		</div>
	<%end%>
</div>