<div class="container">
     <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4">Categories</h1>
          <div class="list-group">
          	<%Category.all.each do |category|%>
            	<%=link_to category.name,category,class:"list-group-item active products-list-group"%>
            <%end%>
          </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-6">	
          <div class="card mt-4">
            <!-- <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt=""> -->
            <%=image_tag(@product.feature_image_url,width:"100%")%>
            <div class="card-body"> 
              <h3 class="card-title" id="product_name_"><%=@product.name%></h3>
              <h4>$<%=@product.price%></h4>
              <p class="card-text"><%=@product.description%></p>
            <%if (user_signed_in?)%>
              <%= form_for(@wishlist,remote:true) do |f|%>
                <%= f.hidden_field :product_id,value:@product.id,id: :product_id%>
                <%= f.submit "add to wishlist",class:"btn btn-success",id: :add_to_wishlist%><span id="wishlists"></span>
              <%end%>
            <%end%>
            <br>  
            <%if user_signed_in?%>
              <%= form_for(@cart_line_item,remote:true)do |f|%>
                <label>quantity</label>
                <%= f.select :quantity,(1..10).to_a%><br>
                <%= f.hidden_field :product_id,value:@product.id%>
                <%= f.submit "Add To Cart",class:"btn btn-success"%>
              <%end%>
            <%else%>
              <p>you need to signing before adding products to your carts</p>
            <%end%>
            </div>
          </div>
          <!-- /.card -->
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body" id="appending-reviews">
            	<%@product.reviews.each do |review|%>
                <div id="review_id_<%=review.id%>">
  	              <p><%=review.body%></p>
  	              <small class="text-muted">Posted by <%=review.user.email%> <br> <%=review.created_at.strftime("%B %e, %Y at %I:%M %p")%></small>
                   <%=link_to "delete",review_path(review),method: :delete,remote:true%> | <%=link_to "edit"%>
                   <div class="review-rating" data-score="<%=review.rating%>"></div> 
                </div>
  	              <hr>
	            <%end%>
            </div>
        </div>
          <!-- /.card -->
        <div class="card card-outline-secondary my-4 products-">
            <div class="card-header">
             leave a review
            </div>
            <div class="card-body">
	            <p id="reviewNotice"></p>
			    <div id="reviewError"></div>
  				<%= form_for(@review,remote:true) do |f|%>
  					<label for="review_body">description</label><br>
  					<div class="form-group">
  						<%=f.text_area :body,class:"form-control"%><br>
  					  <%=f.hidden_field :product_id,value:@product.id%>
              <%=f.radio_button :rating,value:1%>1
              <%=f.radio_button :rating,value:2%>2
              <%=f.radio_button :rating,value:3%>3
              <%=f.radio_button :rating,value:4%>4
              <%=f.radio_button :rating,value:5%>5
            </div>
  					<%= f.submit "Add Your Review",class:"btn btn-success"%>					
  				<%end%>
		    </div>
		</div>
    </div>
        <!-- /.col-lg-9 -->      
    <%if(user_signed_in?) && (can? :create,Product.new) && (can? :create,Category.new)%>
      <div class="col-md-3  ">
        <h1 class="add-category-h1">Add Product</h1>
        <div class="add-category">
          <%= form_for(Product.new,remote:true) do |f|%>  
            <% if @product.errors.any?%>
              <h3>these errors prohibited form being saved:</h3>
                <ul>
                  <%@product.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                  <%end%>
                </ul>
            <%end%>
            <div class="form-group">
              <label for ="product_category_id"> Category:</label><span id="categoryErrorMsg"></span><br>
              <%= f.collection_select :category_id,Category.all,:id,:name,prompt:"Select Category"%>
            </div>
            <div class="form-group">
              <label for ="product_name">Name:</label></br>
              <%= f.text_field :name,placeholder: "enter name",class:"form-control-lg d-inline product-sizing"%><span id="nameErrorMsg"></span><br/>
            </div>
            <div class="form-group">
              <label for="product_description">Description</label></br>
              <%= f.text_area :description,class:"form-control d-inline product-sizing"%><span id="descriptionErrorMsg"></span></br>
            </div>
            <div class="form-group">
              <label for="product_price">price:</label></br>
              <%= f.number_field :price,min:1,class:"form-control d-inline  product-sizing"%><span id="productPriceErrorMsg"></span></br>
            </div>
            <div class="form-group">
              <label for="product_stock">stock:</label></br>
              <%= f.number_field :stock,min:0,class:"form-control d-inline  product-sizing"%><span id="productStockErrorMsg"></span></br> 
            </div>
            <div class="form-group">
              <%= f.check_box :cod_eligible,class:"form-control product-sizing"%><span id="productCodErrorEligible"></span><label for="product_cod_eligible">cod eligible</label>
            </div>
            <div class="form-group">
              <label for="product_image_url">image url</label><br/> 
              <%= f.text_field :feature_image_url,class:"form-control d-inline product-sizing"%><span id="productErrorImage"></span><br/>
            </div>
            <div class="form-group">
              <%= f.submit class:"btn btn-success",id: :"submit_handle"%>
            </div>
          <%end%>
          </div>
          <h1>Add Category</h1>
          <div class="add-category">
            <%=form_for(Category.new,remote:true) do |f|%>
              <label for="Category_name">Category Name:</label><br/>
              <%= f.text_field :name%><span id="categoryErrorHandle"></span><br/>
              <%=f.submit class:"btn btn-success new-category-button",id: :category_button%>
            <%end%>
          </div>
        </div>
    <%end%>
</div>
<script>
    var productCategoryId = document.getElementById('product_category_id');
    var productName = document.getElementById('product_name');
    var productDescription = document.getElementById('product_description');
    var productPrice = document.getElementById('product_price');
    var productStock = document.getElementById('product_stock'); 
    var imageUrl = document.getElementById('product_feature_image_url'); 
    var submitHandle = document.getElementById('submit_handle'); 
    //error handles
    var categoryMsg = document.getElementById('categoryErrorMsg');
    var nameMsg = document.getElementById('nameErrorMsg');
    var descriptionMsg = document.getElementById('descriptionErrorMsg');
    var productPriceMsg = document.getElementById('productPriceErrorMsg');
    var productStockMsg = document.getElementById('productStockErrorMsg');
    var productImage = document.getElementById('productErrorImage');
    var productForm = document.getElementById('new_product');
    var validator = {
      categoryValid: false,
      nameValid: false,
      descriptionValid: false,
      priceValid: false,
      stockValid: false,
      imageValid: false
    }
    function formErrors(fieldGroup,fieldStatus){
      if(fieldStatus){
        fieldGroup.classList.remove('formError');
        fieldGroup.classList.add('formSuccess');
      }else{
        fieldGroup.classList.remove('formSuccess');
        fieldGroup.classList.add('formError'); 
      }
    }
    function errorHandleStyling(errorHandle,apply){
      if(apply === 'apply'){
        errorHandle.classList.remove("alert-success");
        errorHandle.classList.add("alert-danger");
        errorHandle.classList.add("errorMargin");
      }else{
        errorHandle.classList.remove("alert-danger");
        errorHandle.classList.add("alert-success");
        errorHandle.classList.add("errorMargin");
      }
    }
    function removeError(errorHandle){
      errorHandle.classList.remove("alert-danger");
      errorHandle.classList.remove("alert-success");
      errorHandle.classList.remove("errorMargin");
      errorHandle.classList.remove('formSuccess');
      errorHandle.classList.remove('formError'); 
    }
    function validationName(){
      if(productName.value === ""){
        validator.nameValid =  false;
        formErrors(nameMsg,validator.nameValid);
        errorHandleStyling(nameMsg,"apply");  
        nameMsg.innerHTML = "Name can't be blank";
      }else{
        validator.nameValid = true;
        nameMsg.innerHTML = "";
        // formErrors(nameMsg,validator.nameValid);
        // errorHandleStyling(nameMsg,"not apply");
      }
    } 
    function descriptionValidation(){
      if(productDescription.value === ""){
        validator.descriptionValid =  false;
        formErrors(descriptionMsg,validator.descriptionValid);
        errorHandleStyling(descriptionMsg,"apply"); 
        descriptionMsg.innerHTML = "description can't be blank";
      }else{
        validator.descriptionValid = true;
        descriptionMsg.innerHTML = " ";
        // formErrors(descriptionMsg,validator.nameValid);
        // errorHandleStyling(descriptionMsg,"not apply");
      }
    }
    function priceValidation(){
      if(productPrice.value === ""){
        validator.priceValid=  false;
        formErrors(productPriceMsg,validator.priceValid);
        errorHandleStyling(productPriceMsg,"apply");  
         productPriceMsg.innerHTML = "price can't be blank";
      }else{
        validator.priceValid = true;
        productPriceMsg.innerHTML = " ";
        // formErrors(descriptionMsg,validator.nameValid);
        // errorHandleStyling(descriptionMsg,"not apply");
      }
    }
    function stockValidation(){
      if(productStock.value === ""){
        validator.stockValid =  false;
        formErrors(productStockMsg,validator.stockValid);
        errorHandleStyling(productStockMsg,"apply");  
        productStockMsg.innerHTML = "stock can't be blank";
      }else{
        validator.stockValid = true;
        productStockMsg.innerHTML = " ";
        // formErrors(descriptionMsg,validator.nameValid);
        // errorHandleStyling(descriptionMsg,"not apply");
      }
    }
    function imageValidation(){
      if(imageUrl.value === ""){
        validator.imageValid=  false;
        formErrors(productImage,validator.imageValid);
        errorHandleStyling(productImage,"apply"); 
        productImage.innerHTML = "image can't be blank";
      }else{
        validator.imageValid = true;
        productImage.innerHTML = " ";
        // formErrors(descriptionMsg,validator.nameValid);
        // errorHandleStyling(descriptionMsg,"not apply");
      }
    }
    function categoryValidations(){
      if(productCategoryId.value === ""){
        validator.categoryValid =  false;
        formErrors(categoryMsg,validator.categoryValid);
        errorHandleStyling(categoryMsg,"apply");  
        categoryMsg.innerHTML = "category can't be blank";
      }else{
        validator.categoryValid  = true;
        categoryMsg.innerHTML = " ";
        // formErrors(descriptionMsg,validator.nameValid);
        // errorHandleStyling(descriptionMsg,"not apply");
      }
    }  
    productForm.addEventListener('submit',function(e){
      validationName();
      descriptionValidation();
      priceValidation();
      stockValidation();
      imageValidation();
      categoryValidations();
      if(Object.values(validator).includes(false)){
        e.preventDefault();
        setTimeout(function(){
              submitHandle.disabled = false;
            },100);
      }
    },false);
    productCategoryId.addEventListener('focus',function(e){
      categoryMsg.innerHTML = "";
      removeError(categoryMsg);
    },false);
    productName.addEventListener('focus',function(e){
      nameMsg.innerHTML = "";
      removeError(nameMsg);
    },false);
    productDescription.addEventListener('focus',function(e){
      descriptionMsg.innerHTML = "";
      removeError(descriptionMsg);
    },false);
    productPrice.addEventListener('focus',function(e){
      productPriceMsg.innerHTML = "";
      removeError(productPriceMsg);
    },false);
    productStock.addEventListener('focus',function(e){
      productStockMsg.innerHTML = "";
      removeError(productStockMsg);
    },false);
    imageUrl.addEventListener('focus',function(e){
      productImage.innerHTML = "";
      removeError(productImage);
    },false);
  $('#rating-form').raty({
      scoreName: 'review[rating]'
  })
  $('.review-rating').raty({ 
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }, 
  });
  var categoryForm = document.getElementById('new_category');
  var categoryHandle = document.getElementById('category_name');
  var categoryErrorHandle = document.getElementById('categoryErrorHandle');
  var categorySubmit = document.getElementById('category_button');
  function categoryValidation(response){
    if(categoryHandle.value === ""){
      categoryErrorHandle.innerHTML = "can't be blank";
      formErrors(categoryHandle,false);
      errorHandleStyling(categoryErrorHandle,"apply");
    }else if(response["error"]){
      categoryErrorHandle.innerHTML = "can be used";
      formErrors(categoryHandle,true);
      errorHandleStyling(categoryErrorHandle,"cannot apply");
    }else{
      categoryErrorHandle.innerHTML = "already taken";  
      formErrors(categoryHandle,false );
      errorHandleStyling(categoryErrorHandle,"apply");
    }
  }
  categoryHandle.addEventListener('blur',function(){
    var xhr = new XMLHttpRequest();
    xhr.open('GET',`/categories/check_category?category=${categoryHandle.value}`,true);
    xhr.onreadystatechange = function(){
      if(xhr.readyState === 4 && xhr.status === 200){
        var response = JSON.parse(xhr.responseText);
        categoryValidation(response);
      }
    }
    xhr.send();
  },false);
  categorySubmit.addEventListener('click',function(e){
    if(categoryHandle.value === ""){
      categoryErrorHandle.innerHTML = "can't be blank";
       errorHandleStyling(categoryErrorHandle,"apply");
      e.preventDefault();
      setTimeout(function(){
            submitHandle.disabled = false;
          },100);
    }
  },false)
</script>